@page
@model System_Shopper.Pages.Manufacturers.IndexModel
@{
    ViewData["Title"] = "Manufacturers";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2 style="color: #1D2F6F">Manufacturers</h2>
        </div>
        <div class="col-sm-9">
            <a style="background-color: #FAC748;" class="btn" asp-page="AddManufacturer">Add Manufacturer</a>
        </div>
    </div>

    @foreach (var manufacturer in Model.ManufacturerList)
    {
        <!--Manufacturer List-->
        <div style="border-style: solid; border-color: #1D2F6F;" class="row mb-3 p-2 rounded">
            <div style="display: flex; justify-content: center; align-items: center;" class="col-sm-3">
                <img style="width: 200px;" class="img-fluid" src="@manufacturer.ManufacturerLogo" alt="Company Logo"/> <!-- Manufacturer image goes here -->
            </div>
            <!-- Manufacturer Information -->
            <div style="border-left-style: solid; border-color: #8390FA" class="col-sm-6">
                <!-- Manufacturer Name -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4>@manufacturer.ManufacturerName</h4>
                    </div>
                </div>
                <!-- Manufacturer Bio -->
                <div class="row">
                    <div class="col-sm-12">
                        @manufacturer.ManufacturerBio
                    </div>
                </div>
            </div>
            <!-- Spacer -->
            <div class="col-sm-2"></div>
            <!-- Edit and Delete Buttons-->
            <div style="border-left-style: solid; border-color: #8390FA; display: block; align-items: stretch;" class="col-sm-1">
                <div class="row">
                    <div class="col-sm-12">
                        <a style="background-color: #FAC748;" asp-page="EditManufacturer" asp-route-id="@manufacturer.ManufacturerId" class="btn mb-3">Edit</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-page="DeleteManufacturer"  class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
